<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Node.js News</title>
    <link rel="stylesheet" href="/css/styles.scss">
  </head>
  <body>
    <h1>Node.js News</h1>
  </body>
</html>
